* {
    margin: 0;
    padding: 0;
}



/*==================== Header =======================*/

.header {
    background-color: red;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    font-style: italic;
}

/*==================== Header =======================*/





/*=============================================================================================================================*/




/*==================== Search Song ===================*/

.searchSong-container {
    display: flex;
    justify-content: center;
}

.search-songs {
    width: 700px;
    font-size: 30px;
    border: 2px solid black;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}
/*==================== Search Song ===================*/



/*=============================================================================================================================*/



/*==================== Search Song ===================*/

.results-container {
    display: flex;
    flex-wrap: column wrap;
    margin-top: 100px;
}


.results ul {
    list-style-type: none;
}

.results ul li {
    width: 40%;
    border: 2px solid brown;
    padding: 10px;
    margin: 10px;
}


/*==================== Search Song ===================*/







